{% extends "layout.html" %}
{% block content %}

    <script src="/static/vendor/node_modules/masonry-layout/dist/masonry.pkgd.min.js"></script>

    <style>
        .carousel-control-prev:hover, .carousel-control-next:hover {
            background: #494949;
            opacity: 0.2;
        }

        .carousel-control-prev, .carousel-control-next {
            top: 0;
            bottom: 0;
        }
    </style>

    <div id="container1">
        <h2 class="my-heading container"><img class="logo-heading"
                                              src="/static/images/logos/THANADOS_Logo_RGB.png">
        </h2>
        <h2 class="my-heading container">The Anthropological and Archaeological
            Database of
            Sepultures</h2>

        <a title="click to open site selection" href="{{ url_for('sites') }}">
            <div id="map" style="height: 20rem"></div>
        </a>
        <div id="counters" class="row text-center pt-3"></div>

        <div id="feature-container">
            <div class="container py-5">
                <div class="row">
                    <div class="col-lg-6">
                        <div id="feature-text" class="border rounded p-4 mb-2">
                            <h3>The Anthropological and Archaeological <br>
                                Database of
                                Sepultures</h3>
                            <p class="text-small text-muted">THANADOS is a
                                Digital Humanities web portal for
                                archaeologically and anthropologically
                                investigated burials and their digital
                                dissemination.
                                It is a platform for hosting any thematically
                                relevant datasets that the authors want to offer
                                as Open Data in a standardised form.
                                The basic dataset consists of the results of the
                                <a href="{{ url_for('about') + '/thanados' }}" target="_self">THANADOS project</a>.
                                Several other <a href="#projects">projects</a>
                                that contributed data are featured.
                                New sites are added on the project basis and
                                the platform is open for hosting datasets for any period.<br></p>
                            <p class="h6 mb-1 text-uppercase mb-3">Features</p>
                            <ul class="list-unstyled row px-3 mb-4">
                                <li class="text-small text-muted col-xl-6 mb-2">
                                    <i
                                            class="fas fa-check-circle me-2"></i>100s
                                    of
                                    cemeteries online
                                </li>
                                <li class="text-small text-muted col-xl-6 mb-2">
                                    <i
                                            class="fas fa-check-circle me-2"></i>Interactive
                                    maps
                                </li>
                                <li class="text-small text-muted col-xl-6 mb-2">
                                    <i
                                            class="fas fa-check-circle me-2"></i>Query
                                    sites, graves, finds
                                </li>
                                <li class="text-small text-muted col-xl-6 mb-2">
                                    <i
                                            class="fas fa-check-circle me-2"></i>Visualise
                                    and analyse data
                                </li>
                                <li class="text-small text-muted col-xl-6 mb-2">
                                    <i
                                            class="fas fa-check-circle me-2"></i>Export
                                    data
                                </li>
                                <li class="text-small text-muted col-xl-6 mb-2">
                                    <i
                                            class="fas fa-check-circle me-2"></i>Domain
                                    specific vocabularies
                                </li>
                                <li class="text-small text-muted col-xl-6 mb-2">
                                    <i
                                            class="fas fa-check-circle me-2"></i>Detailed
                                    anthropological data
                                </li>
                                <li class="text-small text-muted col-xl-6 mb-2">
                                    <i
                                            class="fas fa-check-circle me-2"></i>Network
                                    visualisations
                                </li>
                                <li class="text-small text-muted col-xl-6 mb-2">
                                    <i
                                            class="fas fa-check-circle me-2"></i>Spatial
                                    analyses
                                </li>
                                <li class="text-small text-muted col-xl-6 mb-2">
                                    <i
                                            class="fas fa-check-circle me-2"></i>Images,
                                    3D Models
                                </li>
                                <li class="text-small text-muted col-xl-6 mb-2">
                                    <i
                                            class="fas fa-check-circle me-2"></i>Metadata
                                    and bibliographies
                                </li>
                                <li class="text-small text-muted col-xl-6 mb-2">
                                    <i
                                            class="fas fa-check-circle me-2"></i>Interactive
                                    charts
                                </li>
                            </ul>
                            <p class="text-muted"
                               style="margin-top: 2em; margin-bottom: 2em">
                                If you want to know more about the features, the
                                project or you want to host your data,
                                please take a look at the
                                <a href="/manual">manual</a> and the <a
                                    href="/about">about</a>
                                section.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div id="carouselExampleControls"
                             style="margin-bottom: 4em; border: 1px solid rgba(0, 0, 0, 0.125)"
                             class="carousel slide carousel-fade"
                             data-bs-ride="carousel">

                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100"
                                         src="/static/images/home/SCRSH04.jpg"
                                         alt="First slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100"
                                         src="/static/images/home/SCRSH07.jpg"
                                         alt="Third slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100"
                                         src="/static/images/home/SCRSH08.jpg"
                                         alt="Fourth slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100"
                                         src="/static/images/home/SCRSH10.jpg"
                                         alt="Fourth slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100"
                                         src="/static/images/home/SCRSH09.jpg"
                                         alt="Fourth slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100"
                                         src="/static/images/home/SCRSH02.jpg"
                                         alt="Second slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100"
                                         src="/static/images/home/SCRSH06.jpg"
                                         alt="Third slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100"
                                         src="/static/images/home/SCRSH03.jpg"
                                         alt="Third slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100"
                                         src="/static/images/home/SCRSH11.jpg"
                                         alt="Fourth slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100"
                                         src="/static/images/home/SCRSH01.jpg"
                                         alt="Fourth slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100"
                                         src="/static/images/home/SCRSH05.jpg"
                                         alt="Fourth slide">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carouselExampleControls"
                                    data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"
                                  aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                    data-bs-target="#carouselExampleControls"
                                    data-bs-slide="next">
                            <span class="carousel-control-next-icon"
                                  aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <footer id="myfooter2" class="pt-5 pb-5">
            {% include 'footer.html' %}
        </footer>

        <div class="bg-img">
            <div class="pt-4 container" id="projects">
                <h1 class="h4 text-uppercase pt-3 mb-3 text-white">Featured
                    Projects:</h1>
                <div id="proj-load" class="d-flex justify-content-center">
                    <div class="spinner-border me-4" role="status"></div>
                    <span>Loading Projects...</span>
                </div>

                <div class="d-none row d-flex justify-content-center"
                     id="featProj"></div>
            </div>
        </div>


        <footer id="myfooter">
            {% include 'footer.html' %}
        </footer>
    </div>


    <script>    sitelist = {{ sitelist|tojson }};    </script>
    <script>    domains = {{ domains|tojson }};    </script>
    <script>    entitycount = {{ entitycount|safe }};    </script>
    <script src="/static/js/index.js"></script>
{% endblock %}
